/.vscode/
.idea

.DS_Store

# goreleaser builds folder
/.builds/

# tests coverage
coverage.out

docs

/bin

# database files
*.db
*.sqlite
*.sqlite3
.db
.sqlite
.sqlite3

# SvelteKit
/web/node_modules
/web/.svelte-kit
/web/build