@import "tailwindcss";

@theme {
	--color-base: #0f0f0f;
	--color-surface: #1a1a1a;
	--color-overlay: #262626;
	--color-text: #e4e4e7;
	--color-subtext: #a1a1aa;
	--color-blue: #3b82f6;
	--color-sky: #0ea5e9;
	--color-red: #ef4444;
	--color-pink: #ec4899;
	--color-border: #404040;
}
